@import "tailwindcss";

@layer components {
    .btn {
        cursor: pointer;
        background-color: var(--color-gray-900);
        color: var(--color-white);
        border-radius: var(--radius-sm);
        padding: calc(var(--spacing) * 1);
        .shadow-md {
            --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
            box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        }
        &:hover {
            @media (hover: hover) {
                background-color: #f89d13;
            }
        }
    }
}

.table {
	width: 100%;
	border: none;
}
.table thead th {
	padding: 10px;
	font-weight: 500;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.table tbody td {
	padding: 10px;
	font-size: 14px;
	border-top: 1px solid black;
}